@import "~antd/dist/antd.less";
@import "../color/colors";

// @primary-color: @blue-6;
@primary-color: #0c8bd6;
@error-color: #FF3D00;
@highlight-color: #FF3D00;
@warning-color: #FFBB00;
@layout-header-background: #eeeeee;
@layout-body-background: #fff;

@font-size-base: 12px;

// @table-header-bg: @background-color-light;
// @table-header-sort-bg: @background-color-base;
// @table-row-hover-bg: @primary-1;
// @table-selected-row-bg: #fafafa;
@table-padding-vertical: 8px;
@table-padding-horizontal: 8px;


// @padding-lg    : 24px; // containers
// @padding-md    : 16px; // small containers and buttons
// @padding-sm    : 12px; // Form controls and items
// @padding-xs    : 8px;  // small items
