.ant-table-thead {
  white-space: nowrap;
}

.ant-table-wrapper {
  overflow: scroll;
}

.ant-table {
  overflow: inherit;
}

.editable-cell-icon {
  float: right;
}

.table-actions-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.editable-table-btn {
  border: none;
}

.editable-cell-input-wrapper .ant-select, .ant-input-number {
  width: 100%;
  max-width: 200px;
}

.row-selected {
  background-color: gray; 
}
